/* Kate Style */
* {
	box-sizing: border-box;
}
body {
    background: whitesmoke;
    font: 16/20;
    font-family: "Inter","Helevetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

/* LAYOUT */

.home {
    background-color: white;
}

.project {
    background: whitesmoke;
}

.wrapper, .navbar {
    /* margin: 0 auto 1em; */
    /* margin: 1em 0 0 3em; */
    margin: 0 auto;
    padding: 2em 0em 4em 0em;
    /* padding: 1em; */
    display: block;
}

.header-wrapper {
    max-width: 840px;
    margin: 0 auto;
}


.navbar {
    /* outline: 1px solid grey; */
}

.homelink {
    color: black;
    text-decoration: none;
}

.homelink:hover {
    text-decoration: underline;
}

header.wrapper, .navbar {
    background-color: hsl(139.9, 100%, 81.5%);
    padding-top: 4em;
}

.entry-wrapper {
    padding-left: 2em;
    padding-top: 0em;   
    max-width: 960px;
    margin: 0 auto;
}

.entry {
    padding: 4em 1em 1em 2em;
    background: white;
    border-top: 3px solid moccasin;
}
.home main.wrapper {
    max-width: 840px;
    padding-top: 3em;
}

.project header.wrapper {
    background-color: hsl(139.9, 100%, 81.5%);
}

/* FONTS */

h1 {
    /* outline: 1px solid pink; */
    font-size: 3.2rem;
    font-family: 'Poppins', serif;
    margin: 0 0 1.4rem;
    font-weight: 600;
    letter-spacing: -0.5px;
    text-rendering: optimizeLegibility;
}


.navbar h1 {
    font-size: 1.4em;
    line-height: 1em;
}

.project .pagetitle {
    font-size: 2.4rem;
    margin-bottom: 0;
}

h2 {
    border-bottom: 2px solid #444;
    font-size: 2em;
    font-family: "Poppins","Helevetica Neue", Helvetica, Arial, sans-serif;
    /* margin: 0 0 1.4rem; */
    margin: 0;
    font-weight: 600;
    display: inline-block;
}

.break-clear {
    display: block;
    margin: 0;
    padding: 0;
}

.line-under {
    
    display: block;
    margin: 0 0 1em;
    padding: 0;
}

h2.subsection, h3 {
    font-size: 1.4em;
    margin-bottom: 1.4em;
    font-weight: bold;
    border-bottom: 0;
    max-width: auto;
}

#intro {
    font-size: 1em;
    line-height: 1.25em;
    max-width: 720px;
    color: #333;    
    /* outline: 1px solid blue; */
    display: block;
    
}


.home-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.linkedin, .email-me {
    color: rgb(204, 90, 58);
    font-weight: 600;
    font-family: "Poppins";
    text-decoration: none;
}

.linkedin:hover, .email-me:hover {
    color: navy;
}

/* WORK */

.thumb {
    display: block;
    float: left;
    max-width: 230px;
    margin: 2em 1rem 1rem 0;
    text-decoration-color: black;
}

.thumb img {
    width: 100%;
}


.thumb p {
    font-size: 1em;
    font-family: "Poppins","Helevetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    margin: 0;
    padding: 0;
    font-weight: 600;
} 

.thumb:hover p {
    color: rgb(204, 90, 58);
}

.tag-lozenge {
    font-size: 0.6em;
    display: inline-block;
    color: rebeccapurple;
    margin-right: 1em;
    padding: 0.4rem;
    border-radius: 1em;
}

.tag-lozenge::before {
    content:"#";
}

.tag-lozenge:hover {
    /* background-color: rgba(147,112,219, 0.2); */
    /* cursor: pointer; */
}

.entry p {
    font-family: "Inter","Helevetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.44em;
    max-width: 780px;
}

.entry figure {
    /* outline: 1px solid red; */
    margin: 2em 4em 4em 0;
    padding: 0.5em;
    background: whitesmoke;
    border: 2px solid rosybrown;
    position: relative;
}

.entry figure img {
    max-width: 100%; 
    display: block;
    margin: 0;
}

.entry figcaption {
    font-family: "Inter","Helevetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: -1rem;
    left: 1rem;
    background: white;
    display: block;
    padding: 0.6em 1em;
    font-size: 0.85em;
    font-style: italic;
    border: 1.5px solid #555;    
}

.entryGallery span {
    margin: 0;
    font-size: 0.85rem;
    color: black;
}

.entryGallery a {
    display: inline-block;
    width: 31%;
    margin: 0 1.5% 0 0;
}

.entryGallery a:nth-child(3) {
    margin-right: 0;
}
.entryGallery img {
    max-width: 100%;
}


.entryGallery.gerrymandering {

}

.entryGallery.gerrymandering a:nth-of-type(1) {
    width: 41%;
}

h3 {
    font-size: 1rem;
    letter-spacing: 0.1px;
}

hr {
    opacity: 0.2;
}

.sourcing {
    text-style: italic;
}