/* Kate Style */
* {
	box-sizing: border-box;
}
body {
    background: whitesmoke;
    font: 16/20 sans-serif;
    padding: 1em;
    margin: 0;
}

/* LAYOUT */

.home, .project {
    background-color: whitesmoke;
}

.wrapper, .navbar {
    max-width: 840px;
    margin: 0 auto 1em;
    padding: 1em;
    display: block;
}

.navbar {
    /* outline: 1px solid grey; */
}

header {
    /* outline: 1px solid rebeccapurple; */
}

main {
    /* outline: 1px solid maroon; */
}

.home .wrapper {

}

.project .wrapper {

    background: white;
    margin-bottom: 0;

}

/* FONTS */

h1 {
    /* outline: 1px solid pink; */
    font-size: 3.2rem;
    font-family: sans-serif;
    margin: 0 0 1.4rem;
}

.navbar h1 {
    font-size: 1.4em;
    line-height: 1em;
}

.project .pagetitle {
    font-size: 2.8rem;
}

h2 {
    /* outline: 1px solid salmon; */
    font-size: 2em;
    font-family: sans-serif;
    margin: 0 0 1.4rem;
}

#intro {
    font-size: 1.4em;
    line-height: 1.25em;
    max-width: 640px;
    color: #333;    
    /* outline: 1px solid blue; */
    display: block;
    
}

.nav-link {
    color: black;
    padding: 0.4em 1em;
    background-color: white;
    border: 1px solid #bbb;
    border-radius: 1em;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1em;
    margin-right: 1em;
}

.nav-link:hover {
    border: 1px solid #999;
    box-shadow: 0 0 3px #bbb;
}

.home-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* WORK */

.thumb {
    display: inline-block;
    width: 30%;
    /* outline: 1px solid black; */
    margin: 0 2% 2em 0;
    text-decoration-color: black;
}

.thumb img {
    width: 100%;
}


.thumb p {
    font-size: 1.2em;
    font-style: italic;
    font-family: serif;
    color: #222;
    margin: 0;
    padding: 0;
}

.tag-lozenge {
    background-color: #C1CDF5;
    margin: 0 1em 1em 0;
    font-size: 0.7em;
    padding: 1em;
    font-family: sans-serif;
    display: inline-block;
    border-radius: 2em;
}

.entry p {
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.44em;
    max-width: 780px;
}

.entry figure {
    /* outline: 1px solid red; */
    padding: 1em;
}

.entry figure img {
    max-width: 100%; 
    display: block;
    margin: 0 0 0.5em;
}

.entry figcaption {
    font-style: italic;
}

